<div class="container">
    <ul class="nav justify-content-end">
  <!-- <li class="nav-item">
    <a class="nav-link" href="/issuetracker/proyectos/page/1">lista</a>
  </li> -->

</ul>

</div>
<div class="container row">
{{#each data.proyectos}}
<div class="card" style="width: 18rem;margin: 20px;">
  <div class="card-body">
    <h5 class="card-title">{{nombre}}</h5>
    <div class="clearfix"><span>{{descripcion}}</span></div>
    <a href="/issuetracker/tableros/page/{{id}}" class="btn btn-primary">Ver tableros</a>
  </div>
</div>
{{/each}}
</div>
