<!DOCTYPE html>
<html>
	{{>header}}
<body style="background-image: url('../img/loginbg.jpg');">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">IssueTracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  </div>



<div class="nav-item my-lg-0 my-2 col-md-2">
        <a class="nav-link" href="/issuetracker/contacto" style="color: black;" id="navbarDropdown" role="button" >
          <i class="far fa-envelope">Contacto</i>
        </a>
      </div>
</nav>


	<div class="container py-5">
<center >
      <form class="form_well my-5 ml-5 shadow-lg  bg-white rounded col-md-7"  method="post" action="/issuetracker/contacto">
    <strong>Formulario de Contacto</strong>
      <div class="mt-2 mb-2"> {{message}}</div>
       <div class="form-group">
        <label for="exampleInputEmail1" class="float-left">Correo Electronico</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" class="float-left">Mensaje</label>
        <textarea name="descripcion" id="" cols="70" rows="10"></textarea>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Enviar</button>
    </form>
</center>
	</div>
	{{>footer}}	
</body>

</html>