<!DOCTYPE html>
<html>
	{{>header}}
<body style="">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">IssueTracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
  </div>
</nav>
{{>toasts}}
	<div class="container row shadow-lg p-3 mb-5 bg-light rounded principal_container">
		<div class="col-md-2 sidebar shadow  bg-white rounded">
		{{>sidemenu}}
		</div>

		<div class="col-md-9" >	
			{{{body}}}
		</div>
	</div>
	{{>footer}}	
</body>

</html>