<!DOCTYPE html>
<html>
	{{>header}}
<body style="">
<nav class="navbar  navbar-dark bg-primary">
  <a class="navbar-brand" href="#">IssueTracker</a>


<div class="nav-item dropdown my-lg-0 my-2 col-md-2">
        <a class="nav-link dropdown-toggle" href="#" style="color: white;" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-meh-blank"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Editar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/issuetracker/logout">Salir</a>

        </div>
      </div>

</nav>
{{>toasts}}
	<div class="container row shadow-lg p-3 mb-5 bg-light rounded principal_container">
		<div class="col-md-2 sidebar shadow  bg-white rounded">
		{{>sidemenu}}
		</div>

		<div class="col-md-9" >	
			{{{body}}}
		</div>
	</div>
	{{>footer}}	
</body>

</html>