<ul class="nav flex-column navbar-light bg-light">
  <li class="nav-item dropdown">
    <a class="nav-link" href="/issuetracker/usuarios/page/1" role="button" aria-haspopup="true" aria-expanded="false">Usuarios</a>
    <a class="nav-link" href="/issuetracker/grupos/page/1" role="button" aria-haspopup="true" aria-expanded="false">Grupos</a>
    <a class="nav-link" href="/issuetracker/proyectos/page/1" role="button" aria-haspopup="true" aria-expanded="false">Proyectos</a>
    <a class="nav-link" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reportes</a>
  </li>
</ul>


